// Define variables for your color scheme

$white: #FFFFFF;
$light-purple: #610094;
$purple: #3F0071;
$dark-purple: #150050;
$black: #13070C;
$mint-green: #EFF9F0;
$pale-silver:  #DDC8C4;
$deep-taupee: #896A67;
$eggplant: #6B4D57;
$xicketic: #13070C;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #DDC8C4;
