// Specific CSS for your home-page
a {
  text-decoration: none;
}

.landing-page {
  color: aliceblue;
  height: 70vh;
  // background-color: #6b4d57;
  background-image: url(https://res.cloudinary.com/dug5dmhjs/image/upload/v1661426827/production/doll_hero_banner_pteejk.jpg);
  background-size: cover;
  padding-top: 50px;


  h1 {
    font-family: $logo-font;
    // text-shadow: 0px 3px 0px #b2a98f,
    //               0px 14px 10px rgba(0,0,0,0.15),
    //               0px 14px 2px rgba(0,0,0,0.1),
    //               0px 14px 30px rgba(0,0,0,0.1);
    font-size: 4rem;


  }

  p {
    // color: rgba(0,0,0,0.6);
    // text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    //                  0px -5px 35px rgba(255,255,255,0.3);
    font-size: 15px;
  }

  img {
    height: 400px;
  }

  .content {
    position: absolute;
    top: 30%;
    margin: auto;
    margin: 2em;
  }

  .sign-in {
    background-color: #ddc8c4;
    background-image: linear-gradient(180deg, #ddc8c4 1%, #6b4d57 98%, #896a67 99%);
    // background-color: #ddc8c4;
    border-radius: 5px;
    // border-color: #896a67;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.create {
    // background-color: $pale-silver;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    padding: 25px;
    margin-left: 25px;
    width: 30%;
  }


.login {
  color: $black;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.background-home {
  background-color: white;
}
