// Import page-specific CSS files here.
@import "home";

.card-product-infos * {
  color: black;

}
.card-product-infos a:visited {
  color: black;

}
.card-product-infos a:hover {
  color: black;

}

.large-font {
  font-size: 45px;
}
