<div class="card-product mt-2 mb-3">
  <%= cl_image_tag doll.photo.key.present? ? doll.photo.key : '' %>
  <div class="card-product-infos">
    <h2><%= doll.name.capitalize %></h2>
    <p><strong>Condition: </strong><%= doll.condition.capitalize %></p>
    <p><strong>Cursed: </strong><%= doll.cursed %></p>
  </div>
</div>
