<div class="container  mt-3">
  <h2 class="mt-2">Select your doll...</h2>
  <div class="cards">
    <% @dolls.each do |doll| %>
      <%= link_to doll_path(doll) do %>
        <%= render "/shared/doll_card_small", doll: doll %>
      <% end %>
    <% end %>
  </div>
</div>
