<div style="background-image: url('https://res.cloudinary.com/dug5dmhjs/image/upload/v1661258206/production/creepy_dolls_bg_wuzodu.jpg'); height: 100vh; background-size:100% 100%;">
  <div>
    
  </div>
</div>
