.card-product {
  overflow: hidden;
  height: 150px;
  background: $white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  align-content: flex-start;

}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-top: 10px;
  color: black;
}

.card-product-infos {
  padding: 5px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-category {
  display: flex;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
.card-product a {
  color: black;
}

@media(max-width: 768px) {

  .container h1 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .cards {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }
}
