.card-product {
  overflow: hidden;
  height: 120px;
  background: $pale-silver;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}
.card-category {
  display: flex;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
.card-product a {
  color: black;
}

@media(max-width: 768px) {

  .container h1 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .cards {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }
}
