.navbar {
  justify-content: space-between;
  background: $deep-taupe;
  height: 20%;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}


.navbar-brand {
  font-family: $headers-font;
  font-size: 35px;
}
