.navbar {
  justify-content: space-between;
  background: $black;
  height: 20%;
  position: sticky;
  top: 0;
}
.navbar * {
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-collapse * {
  color: white;
  font-size: 22px;
}
.navbar .navbar-collapse a:hover {
  color: black;
}

.navbar .navbar-brand img {
  width: 40px;
}


.navbar-brand {
  font-family: $headers-font;
  font-size: 35px;
  color: white;
}

.navbar .navbar-brand a {
  color: white;
}
