.navbar {
  font-family: $logo-font;
  justify-content: space-between;
  background: $black;
  color: $white;
  height: 20%;
  position: sticky;
  top: 0;

}

.navbar .navbar-collapse a {
  transition-duration: 0.5s;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-collapse * {
  color: white;
  font-size: 22px;
}
.navbar .navbar-collapse a:hover {
  color: rgba(254, 254, 254, 0.6);
  text-shadow: 2px 8px 6px rgba(255, 255, 255, 0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
  transform: scale(1.2);
}

.navbar .navbar-brand img {
  width: 40px;
}


.navbar-brand {
  font-family: $logo-font;
  font-size: 35px;
  color: white;
}

.navbar .navbar-brand a {
  color: white;
}

#navbar-username {
  font-family: $logo-font;
}
